.detalhe {
  background-color: #8dadff;
  min-height: 100vh;
  padding: 30px 1rem 2rem; /* considerando header fixo */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto; /* centraliza */
}

.detalhe-container {
  background-color: #f9dc9f;
  margin: 140px auto 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.imagem-vinil {
  width: 300px;
  height: 300px;
  background-color: white;
  overflow: hidden;
}

.imagem-vinil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-vinil {
  background-color: white;
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
