.adicionar {
  transform: skew(20deg);
  border: none;
  color: #fff;
  padding: 1rem 1.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #85e58a;
  /* cor igual à do botão "cesta" */
  transition: background-color 0.3s, transform 0.2s;
}

.adicionar:hover {
  background-color: #74d07b;
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

/* Conteúdo interno desentortado */
.adicionar span {
  transform: skew(-20deg);
  display: inline-block;
}

/* Quando for clicado e já estiver adicionado */
.adicionar.adicionado {
  background-color: #85e58a;
  /* mesma cor, mas pode escurecer se quiser */
  color: white;
  cursor: default;
}