/* Reset básico para evitar margens e espaçamentos indesejados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita rolagem horizontal se algo sair da tela */
}
